.message-list {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  margin-bottom: 40px;

  .message-list-group {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
  }

  .messages-divider-container {
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 10px;
    z-index: 9;

    .messages-divider {
      border: 3px solid steelblue;
      z-index: 10;
      border-radius: 10px;
      padding: 10px 20px;
      background-color: rgba(70, 131, 180, 0.178);
      color: steelblue;
      font-weight: 700;
    }
  }
}
